<%-include("header.ejs")-%>
    <div class="box" id="heading">
        <h1 style="color: #000;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <%= date%>
            <br>
            <%=dateformat%>
        </h1>
    </div>
    <div class="box">

        <% for(var i=0;i<newitem.length;i++){ %>
            <div class="item">
                <input type="checkbox" style="width: 20px;height: 20px;">
                <p>
                    <%= newitem[i] %>
                </p>
            </div>
            <% } %>

                <form class="item-1" action="/" method="post">
                    <input type="text" name="upcomingtask" placeholder="Type Task number <%=i+1%> Here" autocomplete="off ">
                    <button type="submit">+</button>
                </form>
    </div>
    <%-include("footer.ejs")-%>